In [4]:
import numpy as np
import pandas as pd

In [55]:
labels = pd.read_csv("train_labels.csv")
metadata = pd.read_csv("train_metadata.csv")
array_2000 =[]

In [19]:
metadata.head()

  Image ID Storm ID  Relative Time  Ocean
0  nhe_000      nhe              0      2
1  nhe_001      nhe           1800      2
2  nhe_002      nhe           3600      2
3  nhe_003      nhe           5402      2
4  nhe_004      nhe           9001      2

In [44]:
labels.head()

  Image ID  Wind Speed
0  nhe_000          34
1  nhe_001          34
2  nhe_002          34
3  nhe_003          33
4  nhe_004          32

In [57]:
def action_on_image_change(previous_id, current_id,df, array_2000):
    print(f"Name changed from {previous_id} to {current_id}")

    # Initialize previous name with None
    previous_id = None
    # Initialize counter for the number of rows processed for the current ID
    rows_processed_for_current_id = 0
    context_array =[]
    
    # Loop over DataFrame rows
    for index, row in df.iterrows():
        current_id = row['Storm ID']

        # Check if the name has changed
        if current_id != previous_id:
            if previous_id is not None:
                if rows_processed_for_current_id==10:
                    break
                else:
                    print(previous_id)
                    # Perform some action when the name changes
                    context_array = action_on_id_change(previous_id, current_id,rows_processed_for_current_id,row["Image ID"],context_array )
                    rows_processed_for_current_id += 1

            # Update previous name
            rows_processed_for_current_id=0
            previous_id = current_id

In [53]:
def action_on_id_change(previous_id, current_id,rows_processed_for_current_id,image_id,context_array):
    name_to_find = image_id
    result_loc = labels.loc[labels['Image ID'] == name_to_find, 'Wind Speed'].values
    context_array.append(result_loc)
    return context_array

In [58]:
action_on_image_change('abc', None, metadata, array_2000)

Name changed from abc to None
nhe
epx
amz
wnw
nhw
yjz
ben
cfk
icx
wlz
lmb
tmj
wyf
dkb
brm
lds
gzl
kfs
yfn
hlt
nkm
rhy
eze
lqe
aph
gge
aox
ity
fpc
ble
uqg
vhn
rfh
erx
psd
fzw
ryg
rkm
dfh
vzn
tzf
vfp
kaz
avn
jht
kyq
meg
har
lhc
iaz
xzi
mhi
yab
fns
njq
evt
xnq
azm
qvw
hdi
blz
rkf
bce
eck
ggq
rji
tmv
suc
gil
rkw
foj
pbk
lqy
toz
sha
amn
dsc
cna
jlj
rjo
tnj
sxb
cjz
jjf
eef
azb
pcq
trx
ike
xtr
aya
dxx
dhd
abs
cjx
qxu
uwv
idp
csd
ggv
viw
jkh
llm
amw
atz
caa
owv
xuy
byg
qdh
flz
iwp
msh
dnd
oaf
hoo
mwx
gst
ano
xlb
pot
moj
gmt
qyo
fgj
hqu
yoa
jvx
hlj
smj
vkb
cph
moa
zam
mhm
zwh
qbw
tcn
owg
uua
fkt
zms
afs
agl
xtt
wtg
cnn
ezh
vfl
cva
mpq
dpf
uvf
bkf
dvp
jop
orj
gho
zic
orp
ina
vwx
mju
cpf
xmt
vib
eon
jtq
eke
hcg
ydx
dky
zvb
zoi
kzi
sth
sqs
rml
qks
gkf
xrh
btq
wff
fnu
gxi
djr
ops
whs
ycb
akq
gux
hzg
kqf
bmm
dti
wgl
alc
rdc
imi
psz
bmj
pxk
qvp
rck
ftb
yry
hkz
lar
ang
ugb
rmt
nue
gic
yjk
ppp
vlz
dce
quo
pts
lac
xat
erd
svv
rfz
hqw
lir
dsr
ysd
fay
gtn
vfc
llj
fmv
ipa
qss
wbb
dpc
zyp
ltf
npf
hrw
qzf
hht
rpk
gio
xdn
qzd
wap
ymo
rxi
ylm
snk
hww
ota
tja
jwn
dgz
yit
kup
sta
zny
tkb
vgg
utl
wid
ydl
umz
lmj
dli
nrf
cym
zus
xjj
aja
sse
tjj
rzk
tgs
ixs
eqf
ffk
tbs
acd
npg
awy
blq
qfa
wjq
kgc
phw
whm
yyj
oac
vlo
hig
dzw
pky
fpa
ptk
mfm
gix
scw
yso
buv
hsq
wic
cki
eih
sqi
gfk
ggy
zcu
pjw
ojv
zib
tmq
wyn
ohj
ist
cxh
xhj
amd
dva
hnb
zza
pau
kxm
pjj
djb
tgj
kza
ywf
pph
mwm
hvz
gkd
uty
bef
rer
qrk
fhl
fyt
djm
bxd
dwc
ewt
dhv
tmx
bvg
crw
oey
rzq
vaj
qim
xgr
nkd
efl
ugo
evl
tnd
oli
dpg
htc
woz
ojw
xkm
vni
zzp
bkh
ykj
utr
fgi
pvj
upx
hmv
cqv
rib
etg
ibx
kxo
ycz
uhd
rbe
jrt
res
upj
wvi
mfu
oup
xmf
ktq
xkr
zmi
okk
pyi
fvj
frh
knx
ing
grt
gme
kdy
rpf
mca
kqu
fcr
vye
zvv
wzu
woc
lij
xtd
cti
ics
tlc
yfj
vtw
zgi
pxi
oxm
ozs
qpq
fna
ijc
eoi
wsy
mlf
soo
jjw
znw
iiz
bcf
pth
frv
ise
uxz
iag
xjo
qki
ztb
fuv
pbl
eml
hld
pug
bcy
zkg
ugc
alq
sdt
cem
ogw
dft
mtw
dvh
jhp
tnn
vxf
eem
zgr
lfl
hfh
ssq
zvx
pfe
nnj
xog
rpr
jgq
hlv
vsc
unp
erp
ilk
oyc
aek
wtz
qdc
hep
fch
rdl
qvf
vcv
vfx
aoe
vrx
mkf
ayj
qzi
vio
meu
wfc
cdq